.chatContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0px;
    width: 350px;
    height: 50vh;
    padding-top: 30px;
    background-color: #2350a9e7;
    z-index: 1;
    border-radius: 15px;
    transition: .2s;
    border: solid 4px rgb(4, 4, 123);
    padding-bottom: 20px;
}

.messageForm {
    position: fixed;
    right: 0px;
    bottom: 2px;
    width: 347px;

}



.message{
    color: #dadce0;
}

.chatContainer > li { 
    list-style: none;
}


.username{ 
    color: rgb(175, 170, 175);
    font-weight: 700;
    margin-left: 10px;
    margin-right: 20px;
}

.chatInput{
    background-color: rgba(142, 142, 252, 0.57);
    margin-bottom: 5px;
    width: 96%;
    right:0px;
    border-radius: 3px;
    border: rgb(19, 19, 111);
    
}
.chatInput::placeholder{
    color:rgb(92, 0, 92);
}

.minus{
    position: absolute;
    top:5px;
    right: 5px;
    padding: 3px 6px;
    background-color: rgb(69, 20, 148);
    border-radius: 50%;
    border: 0px;
    font-size: 20px;
    color: #dadce0
}
.minus:hover{
    background-color: rgb(90, 32, 184); transition: .3s;
    cursor: pointer;
}

.chatContainer.hidden{
    position: fixed;
    height: 10px;
    bottom: 0px;
    right: 0px;
    top: inherit;
    overflow: hidden;
    padding-bottom: 0;
}
.hidden .messageForm{
    display:none;
}

.chatTitle{
    position: absolute;
    left: 37%;
    font-size: 30px;
    top:6px;
    color: rgb(205, 205, 205);
}
.messages{
    margin-top:20px;
    height: 100%;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 44, 62, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4487E0 , #AA45AC)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: .2s;
    background: linear-gradient(45deg, rgb(28, 88, 167) , rgb(120, 39, 121));
    border: 1px solid black; 
}