.chatContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 200px;
    width: 350px;
    height: 50vh;
    padding-top: 50px;
    background-color: #2350a993;
    z-index: 0;
    border-radius: 15px;
    border: solid 4px rgb(4, 4, 123)
}

.messageForm {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 300px;
}

.messageForm > label {
    display: flex;
    flex-direction: column;
}


.chatContainer > li { 
    list-style: none;
}


.username{ 
    color: #923C96;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 20px;
}

.chatInput{
    background-color: rgba(142, 142, 252, 0.57);
    margin-bottom: 5px;
}
