.navbar{
  display: flex;
  background-color: #002147;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3vw;
  box-shadow: cornflowerblue 2px 2px 5px;
  margin: 0;
  position: fixed;
  top: 0px;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;
  height: 80px;
}

.title{
  position: fixed;
  top: 20px;
  left: calc(50vw - 70px);
  text-decoration: underline purple;
  font-size: 45px;
  color: #dadce0;
  font-family: 'Parisienne', cursive;
}
.title:hover{
  text-decoration: underline rgb(199, 15, 199);
}

.userLinks{
  display: flex;
  align-items: center;
}

.userLinks > * {
  font-size: 18px;
  background-color: #712F79;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid rgb(71, 31, 75) 3px;
  margin: 3px;
  color: #dadce0;
}
.userLinks > *:hover {
  background-color: rgb(177, 67, 189);
  transition: .2s;
  border-style: outset;
  cursor: pointer;
}
.userLinks > *:active{
  background-color: rgb(83, 33, 89);
  transition: .2s;
  border-style: inset;

}

.joinRoom{
  font-size: 18px;
  font-weight: normal;
  background-color: #004BA8;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid rgb(2, 40, 87) 3px;
  margin: 0; 
  color: #dadce0;
}
.joinRoom:hover{
  background-color: rgb(15, 102, 208);
  transition: .2s;
  border-style: outset;
  cursor: pointer;
}
.joinRoom:active{
  background-color: rgb(12, 77, 157);
  transition: .2s;
  border-style: inset;

}
.joinDiv{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}


.outerModal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(0, 0, 0, .7);
  animation: showAnimation .2s linear;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerModal.hidden{
  animation: hideAnimation .3s;
  opacity: 0;
}

.innerModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 375px;
  border-radius: 15px;
  background-color: #dadce0;
  position: relative;
}
.xIcon{
  position: absolute;
  top:10px;
  right: 10px;
  border: black 1px solid;
  border-radius: 50%;
  padding: 2px 4px;
  background-color: #878787;
  transition: .25s;

}
.xIcon:hover{
  cursor: pointer;
  transition: .25s;
  background-color: #b1b1b1;
}
.xIcon:active{
  cursor: pointer;
  transition: .25s;
  background-color: #353535;
}

@keyframes showAnimation {
  0%   {opacity: 0;}
 
  100% {opacity: 1;}
}

@keyframes hideAnimation {
  0%   {display:flex; opacity: 1;}
 
  100% {display:flex; opacity: 0;}
}


#searchbar{
 display: flex;
 position:fixed;
 top:83px;
 transition: .2s;
 height: 30px;
 border-radius: 10px;
}
#searchbar.shown{
  display: flex;
  animation: showAnimation .2s linear;
}
#searchbar.hidden{
  display: flex;
  
  animation: hideAnimation .3s linear;
}
#searchbar button {
  background-color: rgb(31, 31, 121);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#searchbar input{
  border-top-right-radius: 10px;
  background-color: #dadce0;
  border-bottom-right-radius: 10px;
}
#searchbar img{
  height: 25px;
}
#searchbar .modal{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index:-1;
  width: 100vw;
  height: 100vh;

}

.formBlurb{
  color: #002147;
  font-size: 45px;
  margin-bottom: 20px;
}
select{
  background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 14px;
    max-width: 100%;
    outline: none;
    position: relative;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 10px 20px;
    width: 120px
}
.selector::after{
  position: absolute;
  content: "⌄";
  color:black;
  font-size: 30px;
  right: 8px;
  top: -3px;
  pointer-events: none;
}
.selector{
  display:flex;
  border: solid 1px black;
  width: 110px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
}
.roomButton{
  width: 130px
}

.innerModal input{
  margin-bottom: 12px;
}

.errorMessage {
  position: absolute;
  bottom: -45px;
  color: #dadce0;
  border: #4b0202 1px solid;
  border-radius: 3px;
  
  background-color: #6f104962;
  
}

.formInner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.errors{
  margin: 10px;
  border: #4b0202 1px solid;
  border-radius: 3px;
  padding:4px;
  background-color: #6f104962;
}